a{
	color: white;
}
.calendartool, .calendarheader p{
	color: #33B300;
}
.calendarheader p{
	margin: 0px;
}
.error,.alert,.notice,.success,.info {
	padding: 0.8em;
	margin-bottom: 1em;
	border: 2px solid #ddd;
}

.error,.alert {
	background: #fbe3e4;
	color: #8a1f11;
	border-color: #fbc2c4;
}

.notice {
	background: #fff6bf;
	color: #514721;
	border-color: #ffd324;
}

.success {
	background: #e6efc2;
	color: #264409;
	border-color: #c6d880;
}

.info {
	background: #d5edf8;
	color: #205791;
	border-color: #92cae4;
}

.error a,.alert a {
	color: #8a1f11;
}

.notice a {
	color: #514721;
}

.success a {
	color: #264409;
}

.info a {
	color: #205791;
}

body {
	background-image: url('../img/bkgs/top_bkg.png');
	background-repeat: repeat-x;
	background-color: rgb(36, 67, 134);
	color: white;
}

h2 {
	margin-top: 15px;
	margin-bottom: 5px;
}

#top {
	background-image: url('../img/bkgs/top_bkg.png');
	height: 50px;
	text-align: right;
}

#logo {
	background-image: url('../img/bkgs/logo.png');
	height: 50px;
}
a.join {
	margin-top: 100px;
}
a.join, button{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #ffffff;
	padding: 5px 10px;
	background: -moz-linear-gradient(top, #33b300 0%, #007800);
	background: -webkit-gradient(linear, left top, left bottom, from(#33b300),
		to(#007800) );
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 0px solid #000000;
	-moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.4), inset 0px 0px 2px
		rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.4), inset 0px 0px
		2px rgba(255, 255, 255, 0.7);
	text-shadow: 0px -1px 0px rgba(000, 000, 000, 1), 0px 1px 0px
		rgba(255, 255, 255, 0.3);
}

#col_esq {
	background-image: url('../img/bkgs/col_bkg.png');
	background-repeat: repeat-x;
	padding-top: 50px;
}

#col_esq ul {
	margin: 0;
	list-style-type: none;
}

#col_esq li {
	margin: 0;
}

ul#sliding-navigation {
	list-style: none;
	margin: 0;
}

ul#sliding-navigation li.sliding-element h3,ul#sliding-navigation li.sliding-element a
	{
	display: block;
	width: 188px;
	padding: 2px 15px;
	margin: 0;
}

ul#sliding-navigation li.sliding-element h3 {
	color: #fff;
	background-color: rgb(21, 39, 79);
	font-weight: normal;
	margin-top: 5px;
}

ul#sliding-navigation li.sliding-element a {
	color: white;
	background-color: rgb(34, 62, 124);
	margin-top: 2px;
	text-decoration: none;
}

ul#sliding-navigation li.sliding-element a:hover {
	color: #ffff66;
}
#content{
	text-align: left;
}
.content {
	background: rgb(31, 59, 118);
	color: #d5edf8;
	border-color: #92cae4;
	padding: 10px 20px;
	overflow: auto;
}

.list {
	width: 100%;
}

.list th {
	background-color: #1F3B76;
	border: 1px solid #244386;
	color: #D5EDF8;
	padding: 5px;
}

.list td {
	background-color: #D5EDF8;
	border: 1px solid #244386;
	color: #205791;
	padding: 5px;
}

#aluno p, #professor p{
	float: left;
	padding-right: 10px;
}
#aluno p label, #professor p label{
	padding-bottom: 5px;
}
.buttons{
	width: 100%;
	border-top: 3px dashed #244386;
	padding-top: 10px;
	text-align: right;
}
.big-button{
	padding: 10px 10px;
	margin-right: 5px;
	text-decoration: none;
	color: white;
	background-color: #15274F;
	border: 1px solid #15274F;
}
.big-button:hover{
	border: 1px solid #33B300;
}
#toolbar{
	height: 29px;
	background-color: #15274F;
	padding: 5px;
}
#toolbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#toolbar ul li {
  display: block;
  position: relative;
  float: left;
  margin: 0px;
}
#toolbar li ul { display: none; }
#toolbar ul li a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #33B300;
  padding: 5px 15px 5px 15px;
  white-space: nowrap;
}
#toolbar ul li ul li a{
  border-top: 1px solid #244386;
}
#toolbar ul li a:hover { background: #007800; color:white; }
#toolbar li:hover ul {
  display: block;
  position: absolute;
}
#toolbar li:hover li {
  float: none;
  font-size: 11px;
}
#toolbar li:hover a { background: #33B300; }
#toolbar li:hover li a:hover { background: #007800; }
#calendar{
	
}
#calendar .cabecalho td{
	background-color: #33B300;
	color: #D5EDF8;
	font-weight: bold;
	padding: 5px;
}
#calendar td{
	border: 1px solid #1F3B76;
	text-align: center;
	background-color: #15274F;
	color: #1F3B76;
	width: 80px;
	padding: 20px 5px;
}
#calendar td.mesCorrente{
	background-color: #0E1A35;
	color: #33B300;
	padding: 0px;
}
#calendar td.treino{
	background-image: url('../img/icons_diagona/16/074.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
}
#calendar td.mesCorrente a{
	display:block;
	text-decoration: none;
	color: #33B300;
	padding: 20px 5px;
}
#calendar td.mesCorrente a:hover{
	color: white;
}
#calendar td.mesCorrente a.hoje{
	border: 1px solid #33B300;
}

#logincontainer{
	background-image: url('../img/images/loginbkg.png');
	background-repeat: repeat-y;
	background-position: 0px 0px;
	height: 300px;
	margin-top: 20px;
	color: black;
}
.loginlink{
	font-size: 12px;
	text-decoration: none;
}
#tecnologias{
	text-align: justify;
	font-size: 12px;
	background-color: #1F3B76;
	margin-top: 20px;
}
#tecnologias p{
	margin: 0px;
	padding: 10px;
}
#tecnologias h4{
	padding: 10px;
}
.usertoolbar{
	background-color: #33B300;
	text-align: center;
}
.formlogin p{
	margin: 0px;
}
#detalhetreino td{
	background-color: #0E1A35;
	color: #33B300;
	padding: 5px;
	border: 1px solid #1F3B76;
}
#detalhetreino .cabecalho{
	background-color: #33B300;
	color: #D5EDF8;
	font-weight: bold;
	padding: 5px;
	border: 1px solid #1F3B76;
}